@charset "utf-8";

@keyframes animation-notify {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.rpx-ncenter-circulator {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  border-radius: 500px;
  width: 330px;
  max-height: 100%;
  font-size: 14px;
  line-height: 1.4;
  transform-origin: right;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.21, 0.12, 0.12, 0.95);
  animation-name: animation-notify;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  .button--link {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    background: transparent;
  }

  a {
    padding: 0;
    font-size: 0.875rem;
    text-decoration: none;
  }

  .ncenter__banner {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin: 0;
    padding: 8px;
    list-style: none;
    line-height: 1.25rem;
    border-radius: 10em;
    cursor: pointer;
  }

  // .ncenter__banner li {
  //   display: inline-block;
  //   height: 1.25rem;
  //   width: auto;
  //   padding-right: 10px;
  //   background: transparent !important;
  // }

  .nc-banner {
    &__icon {
      padding: 10px;
      font-size: 1.4rem;
      border-radius: 70%;
      background: rgba(255, 255, 255, 0.5);
    }
    &__notify {
      flex-grow: 1;
      padding: 0 0.625rem;
      background: transparent;

      .button--link {
        font-size: 0.875rem;
      }
    }
    &__close {
      width: 1em;
      line-height: 1;
      font-size: 1.6rem;
      border-radius: 10rem;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .nc-banner

  .ncenter__banner li a.notify {
    display: block;
    float: left;
  }

  a.notify .num {
    padding: 0 6px;
    border: 0;
    border-radius: 500px;
    font-size: 12px;
    font-weight: 700;
  }

  .ncenter__list-container {
    display: none;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 6px;

    &--show {
      display: flex;
    }

    .list-scroll {
      flex: 1 1 auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      border-radius: 0 0 6px 6px;
    }

    .readall-wrap {
      display: flex;
      flex: 0 0 auto;
      justify-content: space-between;
      padding: 10px;
    }
    a.readall {
      display: none;
    }
    .listscroll {
      overflow-y: auto;
      overflow-x: hidden;
    }
    .more {
      display: block;
      padding: 0.875rem;
      width: 100%;
      text-align: center;
    }
  }

  .ncenter__list {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  // item
  .ncenter__item {
    margin: -1px 0;
  }
  .nc-item__profile-image {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 500px;
  }
  .nc-item__link {
    display: block;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
  }
  .nc-item__time {
    display: block;
    font-size: 0.75rem;
    margin-left: 50px;
  }

  a:hover,
  .ncenter__item a:hover,
  .ncenter__list-container .more:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 480px) {
  .rpx-ncenter-circulator {
    max-width: 94%;
    position: fixed;
    margin: 0 3%;

    .list-scroll {
      overflow: visible;
    }
  }

  .ncenterlite_block {
    display: none;
  }
}

@import 'colorset'
