/* font */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype");
  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: bold;
  src: url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype");
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

#nc_container {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 20px;
  border-radius: 500px;
  width: 330px;
  height: 56px;
  font-family: 'Noto Sans Korean', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 15px;
  transform-origin: right;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.21, 0.12, 0.12, 0.95);
  animation-timing-function: cubic-bezier(0.21, 0.12, 0.12, 0.95);
  -webkit-animation-name: animation-notify;
  animation-name: animation-notify;
}

@-webkit-keyframes animation-notify {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes animation-notify {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

#nc_container a {
  padding: 0;
  font-size: 14px;
  text-decoration: none;
}

#nc_container ul.nc_memu {
  display: block;
  margin: 0;
  padding: 8px;
  list-style: none;
  line-height: 20px;
}

#nc_container ul::after {
  content: "";
  display: block;
  clear: both;
}

#nc_container .list li {
  margin: -1px 0;
}

#nc_container ul.nc_memu li {
  display: inline-block;
  height: 20px;
  width: auto;
  padding-right: 10px;
  background: transparent !important;
}

#nc_container .fLeft {
  float: left;
}

#nc_container .fRight {
  float: right;
}

#nc_container ul.nc_memu li a.notify {
  display: block;
  float: left;
}

#nc_container a.close {
  display: block;
  opacity: 1;
  text-shadow: none;
}

#nc_container .nc_profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
}

#nc_container a.notify .num {
  padding: 0 6px;
  border: 0;
  border-radius: 500px;
  font-size: 12px;
  font-weight: 700;
}

#nc_container .list {
  display: none;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 30px;
  border-radius: 6px;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#nc_container div.readall-wrap {
  padding: 10px;
  text-align: right;
}

#nc_container a.readall {
  display: none;
  padding: 10px;
  font-size: 14px;
}

#nc_container .listscroll {
  overflow-y: auto;
  overflow-x: hidden;
}

#nc_container .list ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

#nc_container .list li img {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 500px;
}

#nc_container .list li a {
  display: block;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
}

#nc_container .list span.ago {
  display: block;
  font-size: 10px;
  margin-left: 50px;
}

#nc_container .list .more {
  display: block;
  padding: 14px;
  text-align: center;
}

#nc_container a:hover,
#nc_container .list li a:hover,
#nc_container .list .more:hover {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  #nc_container {
    max-width: 92%;
    position: fixed;
    margin: 4%;
  }
  #nc_container .list {
    top: 30px;
    position: relative;
  }
  #nc_container .list ul {
    display: block;
    position: relative;
  }
  #nc_container ul.nc_memu::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #nc_container .listscroll {
    overflow: visible;
  }
  .ncenterlite_block {
    display: none;
  }
}

.rpx-ncenter-circulator--colorset-black {
  background-color: #333;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black a {
  color: #999;
}

.rpx-ncenter-circulator--colorset-black strong {
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black a.notify strong {
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black a.close:hover {
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black .msg {
  color: #999;
}

.rpx-ncenter-circulator--colorset-black .list {
  background-color: #333;
}

.rpx-ncenter-circulator--colorset-black .list li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.rpx-ncenter-circulator--colorset-black .list li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.rpx-ncenter-circulator--colorset-black .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-black .list a.notify .num {
  background-color: #fff;
  color: white;
}

.rpx-ncenter-circulator--colorset-black .list .more:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.rpx-ncenter-circulator--colorset-black a.readall {
  color: #999;
}

.rpx-ncenter-circulator--colorset-black a.readall:hover {
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black a.notify {
  color: #fff;
}

.rpx-ncenter-circulator--colorset-black a.notify .num {
  background-color: #fff;
  color: #333;
}

.rpx-ncenter-circulator--colorset-blue {
  background-color: #cce6ff;
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue a {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue a:hover {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue strong {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue a.notify strong {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-blue .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-blue .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-blue .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-blue .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-blue .list a.notify .num {
  background-color: #2196f3;
  color: white;
}

.rpx-ncenter-circulator--colorset-blue .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-blue a.readall {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue a.notify {
  color: #2196f3;
}

.rpx-ncenter-circulator--colorset-blue a.notify .num {
  background-color: #2196f3;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-green {
  background-color: #d2f1eb;
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green a {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green a:hover {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green strong {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green a.notify strong {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-green .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-green .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-green .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-green .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-green .list a.notify .num {
  background-color: #009688;
  color: white;
}

.rpx-ncenter-circulator--colorset-green .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-green a.readall {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green a.notify {
  color: #009688;
}

.rpx-ncenter-circulator--colorset-green a.notify .num {
  background-color: #009688;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-pink {
  background-color: #ffd7e5;
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink a {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink a:hover {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink strong {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink a.notify strong {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-pink .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-pink .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-pink .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-pink .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-pink .list a.notify .num {
  background-color: #e91e63;
  color: white;
}

.rpx-ncenter-circulator--colorset-pink .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-pink a.readall {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink a.notify {
  color: #e91e63;
}

.rpx-ncenter-circulator--colorset-pink a.notify .num {
  background-color: #e91e63;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-purple {
  background-color: #dbe0ff;
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple a {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple a:hover {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple strong {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple a.notify strong {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-purple .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-purple .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-purple .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-purple .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-purple .list a.notify .num {
  background-color: #3f51b5;
  color: white;
}

.rpx-ncenter-circulator--colorset-purple .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-purple a.readall {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple a.notify {
  color: #3f51b5;
}

.rpx-ncenter-circulator--colorset-purple a.notify .num {
  background-color: #3f51b5;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-red {
  background-color: #ffd4d1;
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red a {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red a:hover {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red strong {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red a.notify strong {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-red .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-red .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-red .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-red .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-red .list a.notify .num {
  background-color: #f44336;
  color: white;
}

.rpx-ncenter-circulator--colorset-red .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-red a.readall {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red a.notify {
  color: #f44336;
}

.rpx-ncenter-circulator--colorset-red a.notify .num {
  background-color: #f44336;
  color: #fff;
}

.rpx-ncenter-circulator--colorset-white {
  background-color: #fff;
  color: #666;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-white a {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white a:hover {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white strong {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white a.notify strong {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white .msg {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white .list {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.rpx-ncenter-circulator--colorset-white .list li {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.rpx-ncenter-circulator--colorset-white .list li a:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-white .list span.ago {
  color: #999;
}

.rpx-ncenter-circulator--colorset-white .list a.notify .num {
  background-color: #666;
  color: white;
}

.rpx-ncenter-circulator--colorset-white .list .more:hover {
  background-color: #f8f8f8;
}

.rpx-ncenter-circulator--colorset-white a.readall {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white a.notify {
  color: #666;
}

.rpx-ncenter-circulator--colorset-white a.notify .num {
  background-color: #666;
  color: #fff;
}
