#nc_container {
  background-color: #333;
  color: #fff;
}

#nc_container a {
  color: #999;
}
#nc_container strong {
  color: #fff;
}
#nc_container a.notify strong {
  color: #fff;
}
#nc_container a.close:hover {
  color: #fff;
}
#nc_container .msg {
  color: #999;
}
#nc_container .list {
  background-color: #333;
}
#nc_container .list li {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
#nc_container .list li a:hover {
  background-color: rgba(255,255,255,0.1);
}
#nc_container .list span.ago {
  color: #999;
}
#nc_container .list a.notify .num {
  background-color: #fff;
  color: white;
}
#nc_container .list .more:hover {
  color: #fff;
  background-color: rgba(255,255,255,0.1);
}
#nc_container a.readall {
  color: #999;
}
#nc_container a.readall:hover {
  color: #fff;
}
#nc_container a.notify {
  color: #fff;
}
#nc_container a.notify .num {
  background-color: #fff;
  color: #333;
}
