@charset "UTF-8";
/*
// ======================================================================== 
// 
//  이름: Circulator
//  제작자: CavlinSnax(http://calvinsnax.xyz)
//  연락처: hello@calvinsnax.xyz
//
//  설명: 제작자의 이름을 제거하지 말아주세요.
//
//  ⓒ 본 파일은 CalvinSnax(http://calvinsnax.xyz)의 소유물입니다.
//
// ======================================================================== 
*/
/* ========================================================================
 Component: Base
 ========================================================================== */
.cl, .cl > * {
  font-family: "Noto Sans Korean", "Open Sans", "malgun gothic", "Nanum Gothic", dotum, arial, sans-serif;
  font-size: 14px;
}

@media (max-width: 959px) {
  .cl.container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 960px) {
  .cl.container {
    max-width: 1080px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.cl.container {
  margin: 0 auto;
}

.cl.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cl.config-header {
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.cl.config-header .cl.config-title {
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 20px;
}

.cl.config-header .cl.config-meta {
  margin-bottom: 20px;
}

.cl h3 {
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 20px;
}

.cl h4 {
  color: #333333;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 20px;
}

.cl.alert {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #3493ff;
  font-size: 14px;
  background-color: #d6e9ff;
  border-radius: 3px;
}

.cl.alert p {
  margin: 0;
  font-size: 14px;
}

.cl.alert.error {
  color: #ff6b6b;
  background-color: #ffc4c4;
}

/* ========================================================================
 Component: Typography
 ========================================================================== */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype");
  src: local("Noto Sans Light"), local("NotoSans-Light"), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype");
  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: bold;
  src: url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype");
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

/* ========================================================================
 Component: Flex
 ========================================================================== */
.cl.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
}

.cl.inline-flex {
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.cl.flex-middle {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.cl.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.cl.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.cl.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* ========================================================================
 Component: Button
 ========================================================================== */
.cl.button {
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  padding: 12px 24px;
  border-radius: 500px;
  border: 1px solid #3493ff;
  background-color: #3493ff;
  outline: none;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 6px 14px -2px rgba(52, 147, 255, 0.3);
}

.cl.button:hover {
  color: white;
  border-color: #1878e6;
  background-color: #1878e6;
  box-shadow: 0 6px 24px -2px rgba(52, 147, 255, 0.4);
}

.cl.button:active {
  color: white;
  border-color: #156bcc;
  background-color: #156bcc;
  box-shadow: 0 1px 4px rgba(52, 147, 255, 0.1);
}

/* ========================================================================
 Component: Input
 ========================================================================== */
.cl.toggle {
  display: none;
}

.cl.toggle + .cl.button-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 500px;
  box-sizing: content-box !important;
  background-color: #f8f8f8;
  border: 1px solid #ededed;
  transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
}

.cl.toggle + .cl.button-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translateX(100%);
  border-radius: 500px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.cl.toggle + .cl.button-toggle:hover::before {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.cl.toggle:checked + .cl.button-toggle {
  border-color: #38d9a9;
  box-shadow: 0 0 0 20px #38d9a9 inset;
}

.cl.toggle:checked + .cl.button-toggle::before {
  transform: translateX(0);
}

.cl.toggle + .cl.button-toggle + input {
  display: none;
}

.cl .control-group {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
}

.cl .control-group .cl.control-info {
  width: 100%;
  padding-right: 15px;
}

.cl .control-group .cl.control-info .cl.control-title {
  margin: 0;
}

.cl .control-group .cl.control-info .cl.control-meta {
  color: #999;
  margin: 0;
}

/* ========================================================================
 Component: Table
 ========================================================================== */
.cl.table {
  max-width: 100%;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 4px;
  border: 1px solid #ededed;
}

.cl.table a {
  color: #333333;
}

.cl.table td,
.cl.table th {
  font-size: 14px;
  border-bottom: 1px solid #ededed;
}

.cl.table tr:last-child > td {
  border-bottom: none;
}

.cl.table thead > tr > th {
  padding: 16px;
  white-space: nowrap;
  color: #333333;
  background-color: #f8f8f8;
}

.cl.table tbody > tr > td {
  padding: 5px 10px;
}

.cl.table-striped tbody > tr:nth-child(even) > td,
.cl.table-striped tbody > tr:nth-child(even) > th {
  background-color: #f8f8f8;
}

/* ========================================================================
 Component: Tab
 ========================================================================== */
.cl.tab {
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
  height: 70px;
  white-space: nowrap;
  list-style-type: none;
  overflow-y: hidden;
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 959px) {
  .cl.tab {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .cl.tab {
    max-width: 1080px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.cl.tab li {
  display: inline-block;
  position: relative;
}

.cl.tab li > a {
  display: inline-block;
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 58px;
  padding: 0;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}

.cl.tab li:last-child > a {
  margin-right: 0;
}

.cl.tab li:hover > a {
  color: #666666;
}

.cl.tab li.active > a {
  color: #333333;
  border-bottom: 2px solid #333333;
}

.cl.tab li:hover > .popover-animationLeft {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.cl.tab-wrap {
  position: relative;
  height: 61px;
  overflow: hidden;
}

.cl.tab-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ededed;
}

/* ========================================================================
 Component: List
=========================================================================== */
.cl.list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.cl.list > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
  transition: 250ms;
  -o-transition: 250ms;
  -moz-transition: 250ms;
  -webkit-transition: 250ms;
}

.cl.list > li .cl.list-profile {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 10px;
}

.cl.list > li .cl.list-profile img {
  border-radius: 100%;
}

.cl.list > li .cl.list-text {
  margin: 0;
  font-weight: 500;
}

.cl.list > li .cl.list-meta {
  color: #999;
  margin: 0;
}

.cl.list > li .cl.list-meta .cl.history-auth {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 14px;
}

.cl.list > li .cl.list-meta .cl.history-auth::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #ff6b6b;
}

.cl.list > li .cl.list-meta .cl.history-auth.read {
  display: none;
}

.cl.list > li .cl.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cl.list > li:hover {
  background-color: #f8f8f8;
}

/* ========================================================================
 Component: Pagination
 ========================================================================== */
.cl.pagination-centered {
  text-align: center;
}

.cl.pagination {
  margin-bottom: 40px;
}

.cl.pagination ul {
  list-style-type: none;
  padding: 0;
}

.cl.pagination ul li {
  display: inline-block;
}

.cl.pagination ul li a {
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #999;
  font-size: 14px;
}

.cl.pagination ul li a.direction {
  padding: 10px;
}

.cl.pagination ul li a:hover {
  color: #666;
}

.cl.pagination ul li a:active {
  color: #333333;
}

.cl.pagination ul li.active > a {
  color: white;
  border-radius: 500px;
  background-color: #3493ff;
}

/* ========================================================================
 Component: Utilities
 ========================================================================== */
.cl.border-circle {
  border-radius: 50%;
}

.cl.border-rounded {
  border-radius: 3px;
}

.cl.border-max-rounded {
  border-radius: 500px;
}

/* Float
 ========================================================================== */
.cl.float-left {
  float: left;
}

.cl.float-right {
  float: right;
}

.cl.margin-bottom-medium {
  margin-bottom: 50px;
}

/* ========================================================================
 Component: Text
 ========================================================================== */
/* font Size
 ========================================================================== */
.cl.text-xsmall {
  font-size: 12px;
}

.cl.text-small {
  font-size: 14px;
}

/* Text Color
 ========================================================================== */
.cl.text-default {
  color: #333333 !important;
}

.cl.text-primary {
  color: #3493ff !important;
}

.cl.text-success {
  color: #38d9a9 !important;
}

.cl.text-danger {
  color: #ff6b6b !important;
}

.cl.text-muted {
  color: #999 !important;
}
/*# sourceMappingURL=circulator.css.map */