
/* ========================================================================
 Component: Button
 ========================================================================== */

.cl.button {
  display: inline-block;
  cursor: pointer;
  color: $color-content;
  font-size: $global-font-size-small;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  
  padding: 12px 24px;
  border-radius: 500px;
  border: 1px solid $color-primary;
  background-color: $color-primary;

  outline: none;
  text-decoration: none !important;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  box-shadow: 0 6px 14px -2px rgba($color-primary, 0.3);
  
  &:hover {
    color: $color-content;
    border-color: $color-primary-dark;
    background-color: $color-primary-dark;
    box-shadow: 0 6px 24px -2px rgba($color-primary, 0.4);
  }

  &:active {
    color: $color-content;
    border-color: $color-primary-darker;
    background-color: $color-primary-darker;
    box-shadow: 0 1px 4px rgba($color-primary, 0.1);
  }
}