
/* ========================================================================
 Component: Flex
 ========================================================================== */

 .cl.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
}

.cl.inline-flex {
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.cl.flex-middle {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.cl.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.cl.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.cl.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
