/* ========================================================================
 Component: Input
 ========================================================================== */

.cl.toggle {
  display: none;
  & + .cl.button-toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 500px;

    box-sizing: content-box !important;

    background-color: $color-base-lightest;
    border: 1px solid $color-base-lighter;

    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;

      transform: translateX(100%);

      border-radius: 500px;
      background-color: $color-content;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

      transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
    }

    &:hover {
     &::before {
       box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
     }
    }
  }

  &:checked + .cl.button-toggle {
    border-color: $color-success;
    box-shadow: 0 0 0 20px $color-success inset;
    &::before {
      transform: translateX(0);
    }
  }

  & + .cl.button-toggle + input {
    display: none;
  }
}

.cl .control-group {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;

  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  padding: 15px 0;
  border-bottom: 1px solid $color-base-lighter;
  .cl.control-info {
    width: 100%;
    padding-right: 15px;
    .cl.control-title {
      margin: 0;
    }
    .cl.control-meta {
      color: $color-base;
      margin: 0;
    }
  }
  .cl.control {
    
  }
}