/* ========================================================================
Component: Base
========================================================================== */

.cl,
.cl > * {
  font-family: $global-font-family;
  font-size: $global-font-size;
}

@media (max-width: $breakpoint-small-max) {
  .cl.container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $breakpoint-medium) {
  .cl.container {
    max-width: 1080px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.cl.container {
  margin: 0 auto;
}

.cl.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cl.config-header {
  margin-bottom: 10px;
  border-bottom: 1px solid $color-base-lighter;

  .cl.config-title {
    color: $color-base-darker;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .cl.config-meta {
    margin-bottom: 20px;
  }
}

.cl h3 {
  color: $color-base-darker;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 20px;
}

.cl h4 {
  color: $color-base-darker;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 20px;
}

.cl.alert {
  padding: $padding-small;
  margin-top: $padding-small;
  margin-bottom: $padding-small;
  color: $color-primary;
  font-size: $global-font-size-small;
  background-color: $color-primary-lighter;
  border-radius: $border-rounded-border-radius;

  p {
    margin: 0;
    font-size: $global-font-size-small;
  }

  &.error {
    color: $color-danger;
    background-color: $color-danger-lighter;
  }
}
